<?xml version="1.0" encoding="UTF-8"?>

<config>
	<commands>
		<command name="north" output="room" enabled="true"/>
		<command name="south" output="room" enabled="true"/>
		<command name="east" output="room" enabled="true"/>
		<command name="west" output="room" enabled="true"/>
		<command name="up" output="room" enabled="true"/>
		<command name="down" output="room" enabled="true"/>
		<command name="look" output="room" enabled="true"/>
		<command name="get" output="unparsed" enabled="true">
			<argument type="roomItem"/>
		</command>
		<command name="drop" output="unparsed" enabled="true">
			<argument type="invItem"/>
		</command>
		<command name="inventory" output="inventory" enabled="true"/>
		<command name="exit" output="terminate" enabled="true"/>
		<command name="say">
			<argument type="constant">Hello there!</argument>
		</command>
	</commands>
	
	<!-- Output formats -->
	<output>
		<roomOutput>
([^\n]+)
([.]+?)
Players: (.+)
Exits: (.+)
Items: (.+)
		</roomOutput>

		<roomName group="1"></roomName>
		<occupants group="3" separator=", "></occupants>
		<exits group="4" separator=", "></exits>
		<items group="5" separator=", "></items>
	
		<inventoryOutput>
Inventory:
(( +\w+ - [^\n]+\n)*)
		</inventoryOutput>
	
		<invItem group="1" multiline="true"> +(\w+) - .+</invItem>
	</output>	
</config>